@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

@layer base {
  * {
    @apply border-primary-950;
  }
  body {
    @apply bg-primary dark:bg-primary-dark text-primary-dark dark:text-primary;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.keen-slider:not(.initialized) {
  gap: 15px;
}

.h-calc-screen {
  height: calc(100vh - 4rem);
}
.leaflet-container {
  height: 100%;
  width: 100%;
  margin-top: auto;
  cursor: crosshair;
  }
  
.font-montserrat{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
  }
  .leaflet-div-icon {
    background: none;
    border: none;
  }
  
  .leaflet-popup-content-wrapper {
    padding: 0;
  }
  .leaflet-popup-content {
    margin: 0;
  }
  .leaflet-popup-close-button {
    z-index: 99;
    font-size: 1.4rem !important;
    color: #fff !important;
  }
  
  .leaflet-control-attribution {
    display: none;
  }
  .leaflet-left{
    @apply mt-14
  }


.custom-marker-cluster{
  @apply bg-accent dark:bg-primary-dark dark:text-secondary text-primary  w-10 aspect-square rounded-full font-bold 
}
.custom-marker-cluster span{
  @apply flex justify-center w-full h-full items-center
}

.ql-editor{
  min-height:200px;
  @apply bg-primary dark:bg-primary-dark
}
.ql-container{
  @apply bg-primary dark:bg-primary-dark
}