@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:wght@300;400;700;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

@layer base {
  * {
    @apply border-primary-950;
  }
  body {
    @apply bg-gradient-to-t bg-primary dark:from-primary-dark dark:to-primary-950 text-primary-dark dark:text-primary;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}



.h-calc-screen {
  height: calc(100vh - 4rem);
}
.leaflet-container {
  height: 100%;
  width: 100%;
  margin-top: auto;
  cursor: crosshair;
  }
  

* {
    @apply font-lato m-0 box-border p-0    
  }
  .leaflet-div-icon {
    @apply border-none bg-transparent
  }
  
  .leaflet-popup-content-wrapper {
    @apply p-0
  }
  .leaflet-popup-content {
    @apply m-0
  }
  .leaflet-popup-close-button {
    z-index: 99;
    font-size: 1.4rem !important;
    color: #fff !important;
  }
  
  .leaflet-control-attribution {
    display: none;
  }
  .leaflet-left{
    @apply mt-14 z-[999]
  }


.custom-marker-cluster{
  @apply bg-accent dark:bg-primary-dark dark:text-secondary text-primary  w-10 aspect-square rounded-full font-bold 
}
.custom-marker-cluster span{
  @apply flex justify-center w-full h-full items-center
}

.ql-editor{
  min-height:200px;
  @apply bg-primary dark:bg-primary-dark
}
.ql-container{
  @apply bg-primary dark:bg-primary-dark
}